<h1>About Bloccitoff</h1>
<p>This application allows users to create self-destructing to-do lists. </p>

<h5>Contact Information</h5>
<address>
  <%= my_name %><br>
  <strong>Email:</strong> <a href="mailto:emomoop@gmail.com">emomoop@gmail.com</a><br>
  <strong>Github:</strong> <a href="https://github.com/Jbooog">Jbooog</a>





