<br/>
<div class="jumbotron">
  <h1>Bloccitoff</h1>
  <p>Bloccitoff is an application that helps friends create to-do lists where items on the to-do list will be deleted if not completed within 7-days. </p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Helping friends forget what they need to do</h2>
    <p>Bloccitoff will destroy any to-do that hasn't been completed after 7-days. If it wasn't finished within the 7-days, it ain't going to happen.</p>
  </div>
  <div class="col-md-4">
    <h2>Creates stronger relationships</h2>
    <p>Keeping your friends agenda open for more time with you!</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Bloccitoff will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>